html, body{
    background-color: white;
    margin: 0;
    padding: 1%;
}


#Menu a
{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: monospace; 
    display: block;
    line-height: 200%;
    padding-left: 1%;
    width: 18%;
    background-color: #efefef;
    background: #bfbfbf;
}

/* Landing page CSS */
.landingContent1
{
    color: black;
    font-size: 20px;
    line-height: 150%;
    font-family: Bookman;
    diplay: inline-block;
    width: 50%;
    margin-left: 5%;
}

.landingContent1 a
{
    color: black;
}

.right1
{
    background-color: #efefef;
    margin-left: 20%;
    margin-top: -5%;
    padding: 2%;
    height: 30%;
}

.link
{
    margin-top: 5%;
    font-size: 2.2vmin;
}

.link a
{
    text-decoration: none;
    color: #365599;
    font-size: 2.2vmin;
}

#footerinfo a
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: monospace;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
    line-height: 120%;
}

#footerinfo h2
{
    color: black;
    font-size: 25px;
    font-family: Blippo;
    text-align: left;  
    display: block;
    margin-top: 2%;
    padding-left: 3%;

}

#footerinfo
{
    background-color: #f5f5f5;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    padding-bottom: 0.2%;
}
